@media(min-width:1200px){
    /* ==== common css ==== */
    .container{
        margin-left:80px;
        margin-right:80px;
    }
    header .navbar .logo .fa-gem{
        font-size:38px;
    }
    header .navbar .logo h1{
        font-size:34px;
    }
}